

*{
    padding 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Common*/
.blue-btn{
    padding: 12px 41px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 12px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 115px;
    margin: auto;
    max-width: 1551px;
    align-items: center; 
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 24px;

}

ul li a{
        text-decoration: none;
        color: #575757;
        font-size: 16;
}
.hero-background{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    
}
.hero-content{
    display: grid;
    justify-content: center;
    text-align:center;
    align-items: center;
    height: 786px;
    color: #FFFFFF;
    gap: 20px;
}
h1{
    font-weight: 900px;
    font-size: 80px;
    height: 95px;
}
.hero-p{
    display: grid;
    font-size: 22px;
    color: #ffffffce;
    
}
.hero-btn{
    display: grid;
    align-items: end;
    gap: 30px;
    
}
.hero-blue-btn{
    padding: 25px 62px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 12px;

}