

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Common*/
.blue-btn{
    padding: 12px 41px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 12px;

}

.container{
    max-width: 1551px;
    margin: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 115px;
    margin: auto;
    max-width: 1551px;
    align-items: center; 
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 24px;

}

nav ul li a{
        text-decoration: none;
        color: #575757;
        font-size: 16;
}
.hero-background{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    
}
.hero-content{
    display: grid;
    justify-content: center;
    text-align:center;
    align-items: center;
    height: 786px;
    color: #FFFFFF;
    gap: 20px;
}
h1{
    font-weight: 900px;
    font-size: 80px;
    height: 95px;
}
.hero-p{
    display: grid;
    font-size: 22px;
    color: #ffffffce;
    
}
.hero-btn{
    display: grid;
    align-items: end;
    gap: 30px;
    
}
.hero-blue-btn{
    padding: 25px 62px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 12px;

}

.speakers{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin: 80px;
}
.speakers-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFFFFF;
    gap: 30px;
    padding: 10px 50px 10px 50px;
    margin: 0 100px 40px 100px;
     
      

}
.speakers-card-container .speakers-card{
    text-align: left;
    margin: auto;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #E5E7EB;   


}
.speakers-card h4{
    font-size: 12px;
    font-weight: 500;
    color: #2563EB;
    padding: 24px 0 8px 24px;
}
.speakers-card h3{
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
    padding: 0 0 8px 24px;
}
.speakers-card p{
    font-size: 14px;
    font-weight: 500;
    color: #575757;
    padding: 0 0 8px 24px;
}
.speakers-card img{
    border-radius: 15px 15px 0 0;


}


.pricing-parent{
    background-color: #FFFFFF;
    margin: 100px;
    padding: 95px;
    
}
.pricing-parent h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
    margin: auto;
}
.pricing-parent h5{
    text-align: center;
    font-size: 16px;
    color: #575757;
    font-weight: 300;
    padding-bottom: 30px;
    
}
.price-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    gap: 24px;    
}
.price-container .price-card{      
    text-align: left;
    margin: auto;
    background-color: #F8F9FB;
    width: 370px;
    height: 444px;
    border-style: solid;
    border: 2px;
    border-radius: 15px;
    border-color: #E5E7EB;
    padding: 32px;
}
.price-card h6{
    text-align: left;
    font-size: 13px;
    color: #888888;
    font-weight: 600;
    padding-bottom: 8px;

}
.price-card h3{
    text-align: left;
    font-size: 44px;
    color: #0D1B2A;
    font-weight: bold;
    padding-bottom: 8px;
}
.price-card p{
    text-align: left;
    font-size: 13px;
    color: #888888;
    font-weight: 300;
    padding-bottom: 8px;

}
.white-btn{
    padding: 12px 41px;
    color: #1D4ED8;
    font-weight: bold;
    font-size: 16px;
    background-color: #F8F9FB;
    border-color: #1D4ED8;
    border-radius: 12px;
    width: 305px;
    margin-top: 40px;
}
.price-card ul{
    padding: 20px;
    
}
.price-card ul li{
    text-decoration: none;
    text-align: left;
    padding-bottom: 10px;
    font-size: 14px;
    color: #333333;
}

.blue-btn-2{
    padding: 12px 41px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 12px;
    width: 305px;
    margin-top: 40px;
}
footer section{
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    align-items: center;
    padding: 10px 10px;
    }
.social-icon span{
        font-size: 32px;
        color: #1D4ED8;
}
.mini-logo{
    font-size: 32px;
}